@import '../../../../helpers/variables';

.volume {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__track {
    height: 4px;
    width: 100%;
    align-self: center;
    margin-left: 5px;

    &:hover {
      .volume__thumb {
        opacity: 1;
      }
    }
  }


  &__thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(170, 170, 170);
    justify-content: center;
    align-items: center;
    outline: none;
    transition: opacity 300ms;
    opacity: 0;
  }
}

