$background-color-main: #282828;
$background-color-second: #181818;
$color-main: #aaaaaa;

$green: #1ed760;
$light-green: #43e57d;
$light-black: rgb(40, 40, 40);
$light-grey: #424242;
$hover-grey: rgb(66, 66, 66);
$black: rgb(24, 24, 24);
$grey: rgb(170, 170, 170);
$sand: rgb(200, 200, 200);
$white: rgb(255, 255, 255);
$blue: #4688d7;
$dark-blue: #23527c;
