@import '../../../helpers/variables';

.flows {
  display: flex;
  margin-right: 15px;
  width: 60px;

  &__item {
    margin: 0 5px;
    color: $grey;

    &--is-active {
      color: $white;
    }
  }

  @media screen and(max-width: 350px){
    flex-direction: column;
  }
}